<div class="container-fluid">
    <div class="row">
        <div class="col-md-12  text-center">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="../../assets/images/logo.png" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">User Email :{{loginDetail.email}}</h4>
                  <p class="card-text">Password :{{loginDetail.password}}</p>
                  <button (click)="back()"  class="btn btn-primary">Go Back</button>
                </div>
              </div>
        </div>
    </div>
</div>